@use "../abstracts/" as *;
// .btn-primary {
//   @include btn-default;
//   color: white;
//   background-color: $primary;
//   &--login {
//     @extend .btn-primary;
//     margin-top: 30px;
//     width: 100%;
//   }
// }

// .btn-primary:hover {
//   background-color: $primary-500;
// }

.btn-primary {
  @include btn-default(10px);
  color: white;
  background-color: $primary;
  &:hover {
    background-color: $primary-500;
  }
  &--new-post {
    @extend .btn-primary;
    padding: 0px;
    border-radius: 50%;
    position: absolute;
    bottom: calc(-#{$btn-radius} / 2);
    left: 50%;
    transform: translate(-50%, 0);
    min-height: $btn-radius;
    min-width: $btn-radius;
  }
  &--login {
    @extend .btn-primary;
    margin-top: 30px;
    width: 100%;
  }
  &--logout {
    @extend .btn-primary;
    margin-top: 10px;
  }
  &--back {
    @extend .btn-primary;
    width: 75px;
    margin-top: 10px;
  }
  &--new-post-form {
    @extend .btn-primary;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    @include respond-to("l") {
      position: static;
    }
  }
}

.btn-outline {
  @include btn-default(10px);
  color: $primary-400;
  box-shadow: none;
  border: 2px solid $gray-300;
  &:hover {
    background-color: $primary-050;
  }
  &--accordion {
    @extend .btn-outline;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--details-summary {
    @extend .btn-outline;
    margin-top: 10px;
  }
}

.btn-danger {
  @include btn-default(0px, 0px);
  color: $danger-300;
  box-shadow: none;
  width: 100%;
  &:hover {
    color: $danger;
  }
}
// .btn-primary-colorswap {
//   @include rounded;
//   @include btn-default(10px);
//   color: $primary;
//   background-color: white;
//   &--nav {
//     @extend .btn-primary-colorswap;
//     &:hover {
//       box-shadow: 0px 6px 15px 2px rgba(0, 0, 0, 0.2);
//       background-color: $primary-100;
//     }
//   }
// }

.btn-icon-light {
  color: white;
  cursor: pointer;
  &:hover {
    color: $primary-100;
  }
  &--corner-post-card {
    @extend .btn-icon-light;
    @include corner-button(10px, 10px);
  }
  &--corner-tageditor {
    @extend .btn-icon-light;
    @include corner-button(10px, 10px);
  }
}

.btn-icon-dark {
  color: $gray-700;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}
