@use "../abstracts/" as *;

.post-card {
  @include rounded;
  background-color: $surface;
  line-height: 1.5;
  padding: 30px 30px;
  position: relative;
  transition: left 0.2s;
  transition: top 0.2s;
}

.post-card-title {
  font-weight: 700;
}

.post-card-category,
.post-card-date {
  color: $gray-100;
}

.post-control-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.category--card {
  @include rounded;
  background-color: $surface;
  text-align: center;
  padding: 10px 0px;
  font-weight: 700;
}

.post-details-card {
  @include rounded;
  background-color: $surface;
  padding: 30px 30px;
  line-height: 1.5;
}

.tag-card {
  @extend .category--card;
}
