@use "../abstracts/" as *;

.post-card {
  @include rounded;
  background-color: $surface;
  line-height: 1.5;
  padding: 30px 30px;
  position: relative;
}

.post-card-title {
  font-weight: 700;
}

.post-card-category,
.post-card-date {
  color: $gray-100;
}

.post-control-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.category--card {
  @include rounded;
  background-color: $surface;
  padding: 10px 10px;
  font-weight: 700;
  list-style: none;
}

.post-details-card {
  @include rounded;
  background-color: $surface;
  padding: 30px 30px;
  line-height: 1.5;
}

.square-card {
  @extend .post-details-card;
  padding: 20px 20px;
  width: 15vw;
  height: 15vw;
}

.square-card-title {
  font-weight: 700;
  font-size: $font-ml;
}

.square-card-text {
  text-align: center;
}

.colorful-wrapper {
  @include rounded;
  background-color: $primary-500;
  padding: 0.5rem 0.5rem;
}
