.menu-icon {
  width: 24px;
  height: 24px;
}

.profile-icon {
  width: 24px;
  height: 24px;
}

.close-icon {
  width: 24px;
  height: 24px;
}

.back-icon {
  width: 24px;
  height: 24px;
}

.accordion-icon {
  width: 24px;
  height: 24px;
}

.close-icon--x-path {
  stroke: currentColor;
  stroke-width: 3px;
}
