@use "../abstracts/" as *;
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  background-color: $surface;
  padding: 10px 10px;
  &--ai-help {
    @extend .modal;

    ul {
      li {
        list-style: none; //ew
      }
    }
  }
}

.modal--ai-help-body {
  margin-bottom: 1rem;
}
.ai-functionality-name {
  font-weight: 700;
}

.ai-functionality-description {
  font-weight: 400;
}
