@use "../abstracts/" as *;
@use "./cards" as *;

.edit-form-tageditor {
  @include rounded;
  position: relative;
  display: block;
  background-color: $surface;
  z-index: 5;
  padding-top: 30px;
}

.tag-card {
  @extend .category--card;
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &--tageditor {
    @extend .tag-card;
    background-color: $gray-600;
  }
}
