@use "../abstracts/" as *;
@use "./cards";
@use "./login-form";

.edit-form-tageditor {
  @include rounded;
  display: block;
  background-color: $surface;
  z-index: 5;
  padding-top: 30px;
  border: none;
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.6);
}

.tag-card {
  @extend .category--card;
  flex: 1 1 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  &--tageditor {
    @extend .tag-card;
    background-color: $gray-600;
    margin-top: 20px;
  }
}

.tag-input-tageditor {
  @extend .login-input;
}
