@use "../abstracts/" as *;
@use "./cards";
@use "./login-form";

.edit-form-tageditor {
  @include rounded;
  background-color: $surface;
  z-index: 5;
  border: none;
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.6);
  position: absolute;
  max-width: 25rem;
  padding: 30px 20px 20px 20px;
  margin: auto;
  left: 0;
  right: 0;
}

.tag-card {
  @extend .category--card;
  text-align: center;
  flex: 1 1 0px;
  padding: 5px 5px;
  font-size: $font-xs;
  display: flex;
  align-items: center;
  justify-content: center;
  &--category-details {
    @extend .tag-card;
    background-color: $gray-600;
    flex-grow: 0;
  }
}

.tag-input-tageditor {
  @extend .login-input;
}

.tag-card--tageditor {
  @extend .category--card;
  text-align: center;
  background-color: $gray-600;
  margin-top: 10px;
  font-size: $font-m;
  &:hover {
    background-color: $danger;
  }
}
