@use "./login-form";
@use "../abstracts/" as *;

.texteditor {
  padding: 10px 10px;
}

.texteditor-textarea {
  @include rounded;
  width: 100%;
  color: $gray-100;
  background-color: $gray-600;
  height: 50vh;
  border: none;
  font-size: $font-m;
  padding: 5px 5px;
  &:focus {
    border: 2px solid $primary-400;
  }
  margin-bottom: 10px;
}

.texteditor-title {
  font-size: $font-ml;
  font-weight: 700;
  margin-bottom: 10px;
}
