@use "../abstracts/" as *;
.content--edit-page {
  padding: 10px 20px;
}

.summary-view-wrapper {
  position: relative;
  @include respond-to("l") {
    display: grid;
    grid-template-columns: auto minmax(240px, 60%);
  }
}
