@use "../abstracts/" as *;
.login {
  display: flex;
}

.login-fancy-screen {
  width: 50%;
  background-color: $primary;
}
.login-wrapper {
  flex-grow: 1;
}

.login-form {
  background-color: $primary-600;
}

.login-label {
  display: block;
  text-align: center;
}
.login-input {
  display: block;
  margin: 0 auto;
  border: none;
  border-bottom: 3px solid black;
}
