@use "../abstracts/" as *;
.header {
  background-color: $primary;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  max-height: 80px;
}

.header--title {
  font-size: $static-font-l;
  @include respond-to("m") {
    font-size: $font-l;
  }
}
