@use "../abstracts/" as *;
.sidebar {
  height: 100%;
  background-color: white;
  position: fixed;
  overflow-x: hidden;
  z-index: 2;
  font-size: $font-m;
  transition: width 0.5s ease-in-out;
  @include respond-to("m") {
    position: static;
    grid-row: 1 / span 2;
    box-shadow: 6px 0px 17px 0px rgba(0, 0, 0, 0.3);
  }
}
.sidebar--link {
  @include rounded;
  color: $gray-700;
  display: block;
  font-size: $font-s;
  padding: 5px;
  font-weight: 700;
  transition: background-color 0.5s;
  line-height: 1.5;
  margin-top: 5px;
  &:hover {
    color: $primary;
    background-color: $primary-100;
  }
}

.sidebar--profile {
  color: $gray-700;
  border-bottom: 2px solid $gray-300;
  padding: 10px 10px;
}
.sidebar--icons {
  display: flex;
  justify-content: space-between;
}

.sidebar--profile--fullname {
  color: $gray-700;
  font-weight: 700;
  margin: 10px 0px;
  white-space: nowrap;
}
.sidebar--profile--username,
.sidebar--profile--email {
  color: $gray-500;
  font-size: $font-s;
  white-space: nowrap;
}

.sidebar--navigation {
  padding: 5px 5px;
}
