@use "./functions" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

$Inter: "Inter", sans-serif;

$font-l: clamp(2rem, 1.0909rem + 3.8788vw, 4rem);
$font-m: clamp(1rem, 0.8864rem + 0.4848vw, 1.25rem);
$font-s: clamp(1rem, 1rem + 0vw, 1rem);

$static-font-l: 2.5rem;
//------COLORS-------//

$primary: #7a05fd;
$primary-variant: #5a00ee;
$secondary: #60d4e2;
$secondary-variant: #36b1c3;
$gray: #bdbdbd;

$primary-050: tint($primary, 90%);
$primary-100: tint($primary, 80%);
$primary-200: tint($primary, 70%);
$primary-300: tint($primary, 60%);
$primary-400: tint($primary, 50%);
$primary-500: tint($primary, 40%);
$primary-600: shade($primary, 40%);
$primary-700: shade($primary, 50%);
$primary-800: shade($primary, 60%);
$primary-900: shade($primary, 70%);

$secondary-050: tint($secondary, 90%);
$secondary-100: tint($secondary, 80%);
$secondary-200: tint($secondary, 70%);
$secondary-300: tint($secondary, 60%);
$secondary-400: tint($secondary, 50%);
$secondary-500: tint($secondary, 40%);
$secondary-600: shade($secondary, 40%);
$secondary-700: shade($secondary, 50%);
$secondary-800: shade($secondary, 60%);
$secondary-900: shade($secondary, 70%);

$gray-050: tint(#000, 90%);
$gray-100: tint(#000, 80%);
$gray-200: tint(#000, 70%);
$gray-300: tint(#000, 60%);
$gray-400: tint(#000, 50%);
$gray-500: tint(#000, 40%);
$gray-600: darken($gray, 40%);
$gray-700: darken($gray, 50%);
$gray-800: darken($gray, 60%);
$gray-900: darken($gray, 70%);

$background: $gray-900;
$surface: $gray-700;

//------BREAKPOINTS-------//
$breakpoints: (
  "s": (
    600px,
  ),
  "m": (
    768px,
  ),
  "l": (
    1000px,
  ),
  "xl": (
    1200px,
  ),
);

//--ELEMENT SIZING VARIABLES--//

$btn-radius: 50px;
