@use "./functions";
@use "./variables";
@use "./typography";

.login {
  display: flex;
  font-family: typography.$inter;
}

.login-fancy-screen {
  width: 50%;
}
.login-wrapper {
  flex-grow: 1;
}
.login-title {
  @include typography.title;
}
.login-form {
  @include typography.subheading;
  background-color: variables.$charcoal;
}

.login-label {
  display: block;
  text-align: center;
}
.login-input {
  @include typography.subheading;
  display: block;
  margin: 0 auto;
}
